//
// Navbar
// --------------------------------------------------

.navbar-default .navbar-brand {
  font-size: 28px;
  padding-left: 0;
}

.navbar-default .navbar-nav a {
  font-size: 18px;  
}

.landing .navbar {
	
	background-color: rgba(36,36,36,.3);
}

.landing .navbar-default .navbar-brand,
.landing .navbar-default .navbar-nav a {
  color: #fff;
  
}