.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml
node_modules
client/lib


# Icon must ends with two \r.
Icon


# Floobits
.floo
.floobit
.floo
.flooignore

# Logs
logs
*.log
npm-debug.log*


# Runtime data
pids
*.pid
*.seed

