<div class="container-fluid main">
  <h1>Recipes</h1>
  <div class="row row-flex recipe" ng-repeat="recipe in recipes" ng-hide="!isCurrentRecipe($index)">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Preferences</h4></div>
        <div class="panel-body">
          <form class="form-preferences">
            <div class="form-group">
              <label for="allowedDiet">Diet</label>
              <select id="allowedDiet" 
                      class="form-control" 
                      ng-options="diet for diet in attributes['allowedDiet[]']" 
                      ng-model="preferences.diet">
                <option value="">All</option>
              </select>
            </div>
            <div class="form-group">
              <label for="allowedCuisine">Cuisine</label>
              <select id="allowedCuisine" 
                      class="form-control" 
                      ng-options="cuisine for cuisine in attributes['allowedCuisine[]']" 
                      ng-model="preferences.cuisine">
                <option value="">All</option>
              </select>
            </div>
            <div class="form-group">
              <label for="allowedCourse">Course</label>
              <select id="allowedCourse" 
                      class="form-control" 
                      ng-options="course for course in attributes['allowedCourse[]']" 
                      ng-model="preferences.course">
                <option value="">All</option>
              </select>
            </div>
          </form>
          <button type="button" 
                  class="btn btn-info" 
                  ng-show="isLoggedIn()" 
                  ng-click="savePreferences()">Save
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail recipe-card">
        <img ng-src="{{recipe.imageUrlsBySize[90]}}" alt="{{recipe.recipeName}}">
        <div class="caption">
          <h4>{{recipe.recipeName}}</h4>
          <p class="text-muted">Ready in: {{recipe.totalTimeInSeconds / 60}} mins</p>
          <p class="btns-recipe">
            <a class="btn btn-primary" ng-click="nextRecipe()" role="button">No</a> 
            <a class="btn btn-default" ng-click="saveRecipe()" role="button">Yes</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Ingredients</h4></div>
        <div class="panel-body">
          <ol>
            <li ng-repeat="ingredient in recipe.ingredients">
              <p>{{ingredient}}</p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>