//
// Navbar
// --------------------------------------------------

.navbar-default .navbar-brand {
  font-size: 28px;
}

.navbar-default .navbar-nav a {
  font-size: 18px;  
}

.landing .navbar-default .navbar-brand,
.landing .navbar-default .navbar-nav a {
  color: #fff;
}