
$wk: -webkit-;

.media {
  height: 350px
}



.table {
    border-bottom:0px !important;
}

.mygrid-wrapper-div {
    
    overflow: scroll;
    height: 50%;
}

.media-heading{
	float:left;
}


.table th, .table td {
    border: 0px !important;

}
.fixed-table-container {
    border:0px !important;
    padding-right: 20px;
}

 .media-object {
	position: relative;
	float:left;
	top: 0px;

	width: 350px; /* you can use % */
    height: auto;
}