<div class="container-fluid main" ng-init='getMealsServer()'>
  <h1>My Meals</h1>
    <div class="row row-flex" ng-repeat="row in meals">
        <div class="col-xs-6 col-md-3 meal" >
            <div class="thumbnail">
                <img ng-src="{{row.imageUrlsBySize[90]}}" alt="{{meal.recipeName}}">
                <div class="caption">
                    
                    <h4>{{row.recipeName}}</h4>
                    <p> </p>
                    <p class="text-muted">Ready in: {{row.totalTimeInSeconds / 60}} mins</p>
                </div>
                <div class ="ingredients">
                    <h5>Ingredients </h5>
                    <li ng-repeat="ingredient in row.ingredients">
                        <p>{{ingredient}}</p>
                    </li>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-offset-{{offsets}}" ng-if="$index < (cols - 1)"></div>
    </div>
    <div class="row" ng-show="meals.length === 0">
        <div class="alert alert-info" role="alert">Select some recipes to get started.</div>
        <a class="btn btn-danger btn-md" href="#" ui-sref="recipes" role="button">Get Started</a>
    </div>
  </div>
</div>