<div class="container-fluid main">
  <h1>My Meals</h1>
    <div class="row row-flex" ng-repeat="row in meals">
        <div class="col-xs-6 col-md-3 meal" ng-repeat="meal in row">
          <div class="thumbnail">
            <img ng-src="{{meal.imageUrlsBySize[90]}}" alt="{{meal.recipeName}}">
            <div class="caption">
              <h4>{{meal.recipeName}}</h4>
              <p class="text-muted">Ready in: {{meal.totalTimeInSeconds / 60}} mins</p>
              <button type="button" 
                      class="btn btn-default btn-ingredients" 
                      ng-click="isCollapsed = !isCollapsed">
                Ingredients
              </button>
              <div uib-collapse="isCollapsed" ng-init="isCollapsed = true">
                <ol>
                  <li ng-repeat="ingredient in meal.ingredients">
                    <p>{{ingredient}}</p>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-offset-{{offsets}}" ng-if="$last"></div>
    </div>
    <div class="row" ng-show="meals.length === 0">
      <div class="alert alert-info" role="alert">Select some recipes to get started.</div>
      <a class="btn btn-danger btn-md" href="#" ui-sref="recipes" role="button">Get Started</a>
    </div>
  </div>
</div>